.account-tabs {
    height: auto;
    width: 100%;
    padding-bottom: 100px;
    background: $secondary-bg-color;

    .tab-view-pages{
        height: 100vh;
        width: 100%;
        padding: 20px 0;

        .nav-link {
            box-shadow: none;
            font-size: 16px;
            font-family: $font-family;
            text-transform: capitalize;
        }

        .nav-item{
            border: solid;
            border-width: thin;
            border-color: #d1d1d1;
        }

        .tab-content {
            height: 100%;
            width: 100%;
            background-color: $main-bg-color;
            border: solid;
            border-width: thin;
            border-color: #d1d1d1;

            .tab-header{
                width: 100%;    
                border-bottom: solid;
                border-width: thin;
                border-color: #d1d1d1;
 
                h1{
                    margin: 20px 0 20px 20px;
                    font-size: 24px;
                    font-family: $font-family;
                }
            }

            .tab-body{
                height: 100%;
                width: 100%;

                .notification-item{
                    height: 100px;
                    width: 100%;
                    margin: 0 auto;
                    border-bottom: solid;
                    border-width: thin;
                    border-color: #d1d1d1;
                }

                .notification-item:hover{
                    cursor: pointer;
                    opacity: 0.9;
                }

                .left-content{
                    height: 100%;
                    @include center;

                    img{
                        height: 70px;
                        width: 70px;
                        border-radius: 50px;
                        background-color: $primary;
                    }
                }

                .right-content{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    
                    h2{
                        margin: 0;
                        font-size: 20px;
                        font-family: $font-family;
                    }
                    p{
                        margin: 0;
                        font-size: 16px;
                        margin: 0;
                    }
                }

                .delete-btn{
                    @include center;

                    i{
                        margin: 2px;
                        font-size: 6px;
                        text-align: center;
                    }
                }
            }
        }

        .nav-link{
            background-color: $main-bg-color;
            border: none;
        }
    }
}
