.add-cart-page {
    height: auto;
    width: 100%;
    padding: 20px 0 100px 0;
    background: $secondary-bg-color;

    .row {
        margin: 0;
        height: auto;
        width: 100%;

        .col-md-9 {
            padding: 0;
            border: solid;
            border-width: thin;
            border-color: #d1d1d1;
            background: $main-bg-color;
            box-shadow: 2px 2px 15px 1px #d1d1d1;

            .cart-list-header {
                border-bottom: solid;
                border-width: thin;
                border-color: #d1d1d1;

                h1 {
                    padding-left: 15px;
                    font-size: 24px;
                    $font-family: $font-family;
                }
            }

            .cart-list {
                height: auto;
                width: 100%;
            }

            .cart-item {
                margin-top: 10px;
                padding: 5px;
                height: auto;
                width: 100%;
                border-bottom: solid;
                border-width: thin;
                border-color: #d1d1d1;

                .left-content {
                    padding: 10px;
                    @include center;

                    img {
                        height: 180px;
                        width: 100%;
                        background-color: darkgray;
                        border: solid;
                        border-width: 2px;
                        border-color: #d1d1d1;
                    }
                }

                .right-content{
                    padding: 10px;
                }

                .left-body {
                    height: 100%;
                    width: 50%;
                    float: left;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;

                    h2 {
                        display: block;
                        margin-bottom: 30px;
                        margin-right: 30px;
                        font-size: 16px;
                        font-family: $font-family;
                    }

                    p {
                        display: block;
                        margin-right: 30px;
                        margin-bottom: 5px;
                        font-size: 14px;
                        font-family: $font-family;
                    }
                }

                .right-body {
                    height: 100%;
                    width: 50%;
                    float: right;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    label{
                        padding: 0;
                        margin: 0;
                    }
                    
                    button {
                        height: 40px;
                        width: 100%;
                        margin-top: 5px;
                        float: right;
                        background-color: $primary;
                        font-size: 14px;
                        font-weight: 300;
                        font-family: $font-family;
                        text-transform: capitalize;
                        color: $heading-color;
                    }
                    button:hover {
                        background-color: #ecaf75;
                    }
                }
            }
        }

        .col-md-3 {
            .summary-content {
                border: solid;
                border-width: thin;
                border-color: #d1d1d1;
                background-color: $main-bg-color;
                box-shadow: 2px 2px 15px 1px #d1d1d1;

                h1 {
                    font-size: 24px;
                    padding-left: 15px;
                    $font-family: $font-family;
                }

                p {
                    font-size: 16px;
                    padding-left: 15px;
                    $font-family: $font-family;
                }
            }
            .summary-footer {
                .btn {
                    width: 100%;
                    margin-top: 10px;
                    float: right;
                    background-color: $primary;
                    font-size: 14px;
                    font-weight: 300;
                    font-family: $font-family;
                    text-transform: capitalize;
                    color: $heading-color;
                }
                .btn:hover {
                    background-color: #ecaf75;
                }
            }
        }
    }
}
