/* Start Login-Register */

.authentication-page {
  height: auto;
  width: 100%;
  padding: 0;

  .backRight {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background:
      url(https://images.unsplash.com/photo-1576176539998-0237d1ac6a85?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit);
    background-size: cover;
    background-position: 50% 50%;
  }

  .backLeft {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background:
      url(https://images.unsplash.com/photo-1529230117010-b6c436154f25?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjE3NzUzNjU1&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit);
    background-size: cover;
    background-position: 50% 50%;
  }

  #back {
    width: 100%;
    height: 90%;
    position: absolute;
    z-index: -999;
  }

  #slideBox {
    width: 50%;
    height: 90%;
    overflow: hidden;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .topLayer {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
  }

  .left {
    width: 50%;
    height: 100%;
    background: #2c3034;
    left: 0;
    position: absolute;
  }

  .right {
    width: 50%;
    height: 100%;
    background: #2c3034;
    right: 0;
    position: absolute;
  }

  .content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      color: $heading-color;
      font-weight: 500;
      font-size: 35px;
      font-family: $font-family;
      margin-bottom: 20px;
    }

    .form-container {
      width: 60%;

      form {
        width: 100%;
      }

      label {
        color: $heading-color;
        font-family: $font-family;
      }

      input {
        font-size: 16px;
        font-weight: 500;
        font-family: $font-family;
      }

      .btn {
        display: block;
        margin: 30px auto;
        padding: 10px 0;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        font-family: $font-family;
        background: $primary;
        text-transform: capitalize;
      }
    }
  }

  .forgot-password-ctn {
    .btn {
      display: block;
      width: 100%;
      text-transform: capitalize;
      outline: none;
      background: none;
      border: none;
      box-shadow: none;
    }
    .btn:hover {
      background: #363a3d;
      box-shadow: none;
    }
  }

  button {
    background: $primary;
    padding: 10px 16px;
    width: auto;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 14px;
    color: #fff;
    line-height: 16px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    transition: all 0.25s;
  }

  button:hover {
    background: $primaryVariants;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  .off {
    background: none;
    color: none;
    box-shadow: none;
  }

  .right .off:hover {
    background: #363a3d;
    color: none;
    box-shadow: none;
  }
  .left .off:hover {
    background: #363a3d;
    color: none;
    box-shadow: none;
  }
}
/* End Login-Register */
