// Page Layout
.browser-page-ctn {
  height: auto;
  overflow: hidden;
  padding: 15px 15px 100px 15px;
  background: $secondary-bg-color;

  .container {
    padding: 0;
    box-shadow: 2px 2px 15px 1px #d1d1d1;
  }

  .row {
    height: auto;
    margin: 0 auto;
  }

  // Side Navigation
  .col-md-2 {
    padding: 10px 25px 25px 25px;
    background: $main-bg-color;
    border-right: solid;
    border-width: thin;
    border-color: #d1d1d1;

    h1 {
      font-size: 16px;
      font-family: $font-family;
    }

    ul {
      margin: 0;
      padding-left: 15px;
      text-decoration: none;
    }

    li {
      margin-top: 5px;
      list-style-type: none;
    }
    a {
      font-family: $font-family;
      color: #000000;
    }
    a:hover {
      color: $primary;
    }
  }

  .col-md-10 {
    padding: 0;
    background: $main-bg-color;

    .content-header {
      padding: 0 15px;
      h1 {
        font-size: 24px;
        font-family: $font-family;
      }
    }

    .content-body {
      height: 100vh;

      .item-showcase {
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    .view-item {
      margin: 10px;
      padding: 10px;
      height: 260px;
      width: 190px;
      background-color: $secondary-bg-color;
      border: solid;
      border-width: thin;
      border-color: #d1d1d1;

      .card-content-image {
        height: 50%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
          background-color: $primary;
        }
      }

      .card-content-body {
        height: 40%;

        h2 {
          padding-top: 10px;
          font-size: 15px;
          font-size: $font-family;
          color: $primary;
        }
      }

      .card-content-footer {
        height: 10%;
        width: 100%;

        p {
          margin: 0;
          font-size: 14px;
          font-size: $font-family;
          color: #000000;
        }
      }
    }

    .filling-empty-space-childs {
      margin: 10px auto;
      width: 190px;
      height: 0;
    }
  }
}
