.inbox-messenger-page {
    height: auto;
    width: 100%;
    padding: 40px 0 80px 0;
    background: $secondary-bg-color;

    .row {
        height: auto;
        width: 100%;
        background: $main-bg-color;
        box-shadow: 2px 2px 15px 1px #d1d1d1;
    }

    .col-md-3 {
        height: auto;
        padding: 0;
        border: solid;
        border-width: thin;
        border-color: #d1d1d1;
        background: $main-bg-color;

        .left-header {
            padding-left: 15px;
            height: 80px;
            border-bottom: solid;
            border-width: thin;
            border-color: #d1d1d1;
            @include center;
            justify-content: flex-start;

            h1 {
                margin: 0;
                font-size: 24px;
                font-family: $font-family;
            }
        }

        .left-body {
            height: 550px;
            width: 100%;
            overflow-y: scroll;

            .row {
                height: auto;
                margin: 0;
                padding: 10px 0;
                border-bottom: solid;
                border-width: thin;
                border-color: #d1d1d1;
            }

            .row:hover {
                opacity: 0.9;
                cursor: pointer;
            }

            .chat-list-profile {
                height: auto;
                margin: 0;
                padding: 0;
                @include center;

                img {
                    height: 60px;
                    width: 60px;
                    border-radius: 25px;
                    background-color: indianred;
                }
            }

            .ui-id {
                height: auto;
                padding: 10px 0;

                h1 {
                    margin: 0;
                    font-size: 16px;
                    font-family: $font-family;
                }

                p {
                    margin: 0;
                }
            }
        }
    }

    .col-md-9 {
        padding: 0;
        border-top: solid;
        border-right: solid;
        border-bottom: solid;
        border-width: thin;
        border-color: #d1d1d1;
        background: $main-bg-color;

        .right-header {
            height: 80px;
            border-bottom: solid;
            border-width: thin;
            border-color: #d1d1d1;

            .profile-icon {
                width: 10%;
                float: left;
                @include center;

                img {
                    height: 60px;
                    width: 60px;
                    border-radius: 30px;
                    background-color: $primary;
                }
            }

            .user-info {
                width: 90%;
                float: right;

                h1 {
                    margin: 0;
                    padding: 15px 0 0 15px;
                    font-size: 20px;
                    font-family: $font-family;
                }

                p {
                    padding: 5px 0 0 15px;
                    margin: 0;
                }
            }
        }

        .right-body {
            height: auto;
            width: 100%;


            .conversation-body {
                height: 480px;
                width: 100%;
                overflow-y: auto;
            }

            .conversation-message-input {
                width: 100%;
                border-top: solid;
                border-width: thin;
                border-color: #d1d1d1;

                form {
                    height: 100%;
                    width: 100%;
                    @include center;
                }

                input {
                    margin: 15px;
                    height: 35px;
                    width: 600px;
                    padding-left: 15px;
                    background: #ededed;
                    border-style: solid;
                    border-color: #d1d1d1;
                    border-width: 1px;
                    border-radius: 20px;
                    font-size: 16px;
                    color: #000000;
                    outline: none;
                }

                .send-btn {
                    margin-left: 5px;
                    font-size: 24px;
                    color: #22b4ee;
                    background: none;
                    border: none;
                    box-shadow: none;
                }
                .send-btn:hover {
                    color: #29c2ff;
                }
            }
        }
    }
}
