.index-pg-body {
    background: $secondary-bg-color;
    padding: 15px 15px 100px 15px;

    .container-lg {
        height: auto;
        width: auto;
        padding: 5px 0 5px 0;

        .items-showcase{
            width: auto;
            margin: 0 auto;
        }

        .row {
            margin: 10px;
            border: solid;
            border-width: thin;
            border-color: #d1d1d1;
            background-color: $main-bg-color;

            h1 {
                margin: 0;
                padding: 15px 15px 15px 25px;
                font-size: 24px;
                font-size: $font-family;
                border-bottom: solid;
                border-width: thin;
                border-color: #d1d1d1;
            }

            .view-item{
                margin: 10px auto;
                padding: 10px;
                height: auto;
                width: 190px;
                display: inline-block;
                background-color: $secondary-bg-color;
                border: solid;
                border-width: thin;
                border-color: #d1d1d1;

                img {
                    display: block;
                    height: 120px;
                    width: 100%;
                    background-color: $primary;
                }

                h2 {
                    margin-top: 10px;
                    font-size: 20px;
                    font-size: $font-family;
                    color: $primary;
                }

                p {
                    font-size: 14px;
                    font-size: $font-family;
                    color: #000000;
                }
            }

            .view-items:hover{

            }

    
        }
    }
}
