.index-pg-body {
    background: $secondary-bg-color;
    padding: 15px 15px 100px 15px;

    .container-lg {
        height: auto;
        width: auto;
        padding: 5px 0 5px 0;

        .items-showcase {
            width: auto;
            margin: 0 auto;
        }

        .row {
            margin: 10px;
            border: solid;
            border-width: thin;
            border-color: #d1d1d1;
            background-color: $main-bg-color;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            h1 {
                margin: 0;
                padding: 15px 15px 15px 25px;
                font-size: 24px;
                font-size: $font-family;
                border-bottom: solid;
                border-width: thin;
                border-color: #d1d1d1;
            }

            .view-item {
                margin: 10px auto;
                padding: 10px;
                height: 260px;
                width: 190px;
                background-color: $secondary-bg-color;
                border: solid;
                border-width: thin;
                border-color: #d1d1d1;

                .card-content-image {
                    height: 50%;
                    width: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                        background-color: $primary;
                    }
                }

                .card-content-body{
                    height: 40%;

                    h2 {
                        padding-top: 10px;
                        font-size: 15px;
                        font-size: $font-family;
                        color: $primary;
                    }
                }

                .card-content-footer{
                    height: 10%;
                    width: 100%;

                    p {
                        margin: 0;
                        font-size: 14px;
                        font-size: $font-family;
                        color: #000000;
                    }
                }
            }

            .filling-empty-space-childs {
                margin: 10px auto;
                width: 190px;
                height: 0;
            }
        }
    }
}
