.payment-method-page {
    height: auto;
    width: 100%;
    padding: 20px 0 150px 0;
    background: $secondary-bg-color;

    .payment-content {
        padding: 0 0 15px 0;
        margin: 10px 0;
        width: 100%;
        border: solid;
        border-width: thin;
        border-color: #d1d1d1;
        background: $main-bg-color;
        box-shadow: 2px 2px 15px 1px #d1d1d1;
    }

    h1 {
        font-size: 24px;
        $font-family: $font-family;
        margin: 20px 0 20px 20px;
    }

    .payment-card-item {
        height: auto;
        width: 100%;
        margin: 10px 0;
        background-color: $main-bg-color;

        .card-header {
            h3 {
                padding-left: 5px;
                font-size: 16px;
                font-family: $font-family;
            }
        }


        .card-body {
            height: auto;
            width: 100%;

            .col-2 {
                @include center;

                label {
                    display: block;
                    margin: 0 auto;
                    font-size: 16px;
                    font-family: $font-family;
                }
            }

            input {
                display: block;
                margin: 10px 0;
                padding-left: 5px;
                height: 30px;
                width: 80%;
                border-style: solid;
                border-color: #d1d1d1;
                outline: none;
            }
        }
    }

    .summary-footer {
        width: 100%;

        .btn {
            width: 200px;
            margin-top: 10px;
            float: right;
            background-color: $primary;
            font-size: 14px;
            font-weight: 300;
            font-family: $font-family;
            text-transform: capitalize;
            color: $heading-color;
        }
        .btn:hover {
            background-color: #ecaf75;
        }
    }
}
