/* terms and condition */
h1{
    font-size: 1.4em;
    margin-top: .75em;
    margin-bottom: .75em;
}

.c5 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
}

.c22 {
    padding-top: 6pt;
    padding-bottom: 6pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

.c15 {
    color: #0000ff;
    font-weight: 400;
    text-decoration: underline;
}

.c17 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

