.view-item-page{
    height: auto;
    width: 100%;
    padding-bottom: 100px;
    background: $primary;

    .container-xl{
        height: auto;
        padding: 0 50px;
    
        .view-item-head{
            width: 100%;
       
            .row{
                margin: 0;
                background-color: $secondaryVariant;
                display: flex;
                justify-content: center;
                align-self: center;
            }
            .col-md-5{
                height: auto;
                background-color: pink;

                .img-main-ctn{
                    height: 380px;
                    width: 100%;
                    margin: 5px 0;
                    box-sizing: content-box;
                    background: chocolate;
                }

                .main-img{
                    height: 100%;
                    width: 100%;
                    padding: 10px;
                }

                .img-showcase-ctn{
                    height: auto;
                    width: 100%;
                    margin: 5px 0;
                    background: khaki;
                    
                    .row{
                        height: 110px;
                        margin: 0 auto;
                    }

                    .col-md-2{
                        margin: 5px;
                        display: block;
                        background-color: lawngreen;
                    }
                }
            }
            .col-md-3{
                background: red;

                .left-info{
                    height: 100%;
                    width: 100%;
                    padding: 60px 0;

                    h1{
                        margin: 0;
                        padding: 50px 5px;
                        text-align: center;
                        font-size: 30px;
                        font-family: $font-family;
                        color: $font-color;
                    }
                    ul{
                        margin: 20px 0;
                    }
                    li{
                        list-style-type: none;
                    }
                    p{
                        margin-bottom: 12px;
                        font-size: 16px;
                        font-family: $font-family;
                        color: $font-color;
                    }
                }
                .right-info{
                    height: 100%;
                    width: 100%;
                    padding: 60px 0;
                  
                    h1{
                        margin: 0;
                        padding: 50px 5px;
                        text-align: center;
                        font-size: 30px;
                        font-family: $font-family;
                        color: $primaryVariants;
                    }
                    ul{
                        margin: 20px 0;
                    }
                    li{
                        list-style-type: none;
                    }
                    p{
                        margin-bottom: 12px;
                        font-size: 16px;
                        font-family: $font-family;
                        color: $font-color;
                    }
                }
            }
        }

        .view-item-body{    
            height: auto;
            width: 100%;
 
            .desc-scrip-ctn{
                height: 100%;
                width: 100%;

                h1{
                    font-size: 24px;
                    font-family: $font-family;
                }
                p{
                    font-size: 16px;
                    font-family: $font-family;
                }

                .description-ctn{
                    width: 50%;
                    margin: 40px 0;
                }

                .spec-table{
                    margin: 40px 0;

                    h1{
                        font-size: 24px;
                        font-family: $font-family;
                    }
                    th td{
                        font-size: 16px;
                        font-family: $font-family;
                    }
                    .table{
                        width: 50%;
                        margin: 10px;
                    }
                }
            }

            .customer-review-ctn{
                width: 50%; 
                margin: 40px 0;

                .post-review{
                    margin: 50px 0;
                }

                h1{
                    font-size: 24px;
                    font-family: $font-family;
                }

                h5{
                    font-size: 16px;
                    font-family: $font-family;
                }

                p{
                    font-size: 16px;
                    font-family: $font-family;
                }
            }
            .post-review-ctn{

                textarea{
                    width: 100%;
                    resize: none;
                    padding: 7px 0 0 7px;
                }

                input{
                    float: right;
                    display: block;
                    width: 150px;
                    height: 30px;
                    background-color: aqua;
                }
            }
        }
    }
}