.view-item-page{
    height: auto;
    width: 100%;
    padding-bottom: 100px;
    background: $main-bg-color;

    .overlay{
        height: 100%;
        width: 100%;
        padding: 30px 0;
        background: #000000;
        opacity: .9;
    }

    .view-item-head{
        width: 100%;
        background: url('../../images/tools.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        .row{
            margin: 0;
            display: flex;
            justify-content: center;
            align-self: center;
        }

        .col-md-5{
            height: auto;

            .img-main-ctn{
                height: 400px;
                width: 100%;
                margin: 5px 0;
                @include center;
            }

            .main-img{
                height: 100%;
                width: 400px;
                background: $primary;
            }

            .img-showcase-ctn{
                height: auto;
                width: 100%;
                margin: 5px 0;

                .image-card{
                    height: 90px;
                    width: 100px;
                    margin: 5px;
                    display: block;
                    background-color: $primary;
                }
            }
        }
        .col-md-3{
            .left-info{
                height: 100%;
                width: 100%;
                padding: 60px 0;

                h1{
                    margin: 0;
                    padding: 50px 5px;
                    text-align: center;
                    font-size: 26px;
                    font-family: $font-family;
                    color: $font-color;
                }
                ul{
                    margin: 20px 0;
                }
                li{
                    list-style-type: none;
                }
                p{
                    margin-bottom: 12px;
                    font-size: 16px;
                    font-family: $font-family;
                    color: $font-color;
                }
            }
            .right-info{
                height: 100%;
                width: 100%;
                padding: 60px 0;
              
                h1{
                    margin: 0;
                    padding: 50px 5px;
                    text-align: center;
                    font-size: 26px;
                    font-family: $font-family;
                    color: $primaryVariants;
                }
                ul{
                    margin: 20px 0;
                }
                li{
                    list-style-type: none;
                }
                p{
                    margin-bottom: 12px;
                    font-size: 16px;
                    font-family: $font-family;
                    color: $font-color;
                }
            }
        }
    }

    .container-lg{
        height: auto;
        padding: 0 50px;
    
        .view-item-body{    
            height: auto;
            width: 100%;
 
            .desc-scrip-ctn{
                height: 100%;
                width: 100%;

                h1{
                    font-size: 24px;
                    font-family: $font-family;
                }
                p{
                    font-size: 16px;
                    font-family: $font-family;
                }

                .description-ctn{
                    width: 50%;
                    margin: 40px 0;
                }

                .spec-table{
                    margin: 40px 0;

                    h1{
                        font-size: 24px;
                        font-family: $font-family;
                    }
                    th td{
                        font-size: 16px;
                        font-family: $font-family;
                    }
                    .table{
                        width: 50%;
                        margin: 10px;
                    }
                }
            }

            .customer-review-ctn{
                width: 50%; 
                margin: 40px 0;

                .post-review{
                    margin: 50px 0;
                }

                h1{
                    font-size: 24px;
                    font-family: $font-family;
                }

                h5{
                    font-size: 16px;
                    font-family: $font-family;
                }

                p{
                    font-size: 16px;
                    font-family: $font-family;
                }
            }
            .post-review-ctn{

                textarea{
                    width: 100%;
                    resize: none;
                    padding: 7px 0 0 7px;
                }

                input{
                    float: right;
                    display: block;
                    width: 150px;
                    height: 30px;
                    background-color: aqua;
                }

                .btn {
                    height: 40px;
                    width: 150px;
                    margin-top: 10px;
                    float: right;
                    background-color: $primary;
                    font-size: 14px;
                    font-weight: 300;
                    font-family: $font-family;
                    text-transform: capitalize;
                    color: $heading-color;
                }
                .btn:hover {
                    background-color: #ecaf75;
                }
            }
        }
    }
}