.main-header {
    width: 100%;
    height: 10vh;
    background-color: #181a24;
    @include center;

    .header-options {
        width: 100%;
        max-width: 1200px;
        margin: 0 30px 0 30px;
        padding: 0;
        @include center;
        justify-content: space-between;
    }

    .header-options li {
        display: inline-block;
    }

    .nav-left {
        width: 330px;
        @include center;
        justify-content: space-between;

        b{
            color: $primary;
            text-transform: uppercase;
            font-family: $font-family;
        }
    }

    .nav-center {
        width: 350px;
        @include center;

        .form-outline {
            width: 100%;
            margin-right: 15px;
        }

        .btn{
            background: $primary;
        }
    }

    .nav-right li {
        margin-right: 25px;
    }

    .option {
        font-size: 16px;
        font-family: Arial;
        cursor: pointer;

        a{
            color: #FFFFFFFF;
        }

        a:hover {
            font-size: 16px;
            color: $primaryVariants;
        }
    }

    .drop-btn {
        background-color: $primary;
        color: #FFFFFFFF;
        font-size: 0.9rem;
        font-weight: 500;
        font-family: $font-family;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px;
        font-size: 0.9rem;
        font-weight: 500;
        font-family: $font-family;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        z-index: 999999;
    }

    .dropdown:hover .drop-btn {
        background-color: $primary;
    }
}
